# Investment Portfolio
CRED_PORTFOLIO_USERID_W={{ investmentPortfolio.writer.userid }}
CRED_PORTFOLIO_PWD_W={{ investmentPortfolio.writer.password }}
CRED_PORTFOLIO_USERID_R={{ investmentPortfolio.reader.userid }}
CRED_PORTFOLIO_PWD_R={{ investmentPortfolio.reader.password }}
URL_GET_PORTFOLIO_HOLDINGS={{ investmentPortfolio.url }}

# Predictive Market Scenario
CRED_PREDICTIVE_MARKET_SCENARIO_URL={{ predictiveMarketScenarios.uri }}
CRED_PREDICTIVE_MARKET_SCENARIO_ACCESSTOKEN={{ predictiveMarketScenarios.accessToken }}

# Simulated Instrument Analytics
CRED_SIMULATED_INSTRUMENT_ANALYTICS_URL={{ simulatedInstrumentAnalytics.uri }}
CRED_SIMULATED_INSTRUMENT_ANALYTICS_ACCESSTOKEN={{ simulatedInstrumentAnalytics.accessToken }}
